body {
  font-family: verdana;
  color: black;
  padding-top: 0;
}

h3, ul, form {
  background-color: lightblue;
  margin: 0
}

h3 {
  font-style: italic;
}

form, ul {
  text-align: center;
}

form, h3{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

li {
  background: rgb(173, 200, 230);
  font-size: 14pt;
}
li:nth-child(odd) { background: rgb(173, 216, 230); }

h2 {
  font-family: verdana;
  background-color: darkblue;
  color: white;
  font-style: underline;
  margin: 0;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li:last-child {
  padding-bottom: 10px;
}

.transfer {
  font-size: 20pt;
  font-style: italic;
  font-family: monospace;
  background-color: lightblue;
  border-top-style: groove;
  border-top-color: white;
  padding: 10px;
}

#description_box {
  display: block;
}
