<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Project Title Tab</title>
    <link href="/styles.css" rel="stylesheet" media="all">
  </head>

  <body>

      <%= yield %>

  </body>
</html>
